body{
  background: #104e00;
  color: rgb(94, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

label{
  display: block; 
}

input, select{
  width: 100%;
}

span{
  display: block;
  color: rgb(255, 115, 0);
  font-size: x-small
}